
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Kec Website</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'css/style.css'%}" />
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">
          <img src="{%static 'img/logo.png'%}" alt="Logo" />
        </div>
        <ul>
          <li><button class="btn"><a href="/notices">Notices</a></button></li>
          <li><button class="btn">Contact Us</button></li>
          <li><button class="btn">About Us</button></li>
          <li>
            <button class="btn"><a href="/result">Results</a></button>
          </li>
        </ul>
        <!-- <div class="btn1">Login</div> -->
        {% if user.is_authenticated %}
        <a href="/signout" class="btn1">Sign Out</a>
        {% else %}
        <a href="/signin" class="btn1">Sign In</a>
        <a href="/signup" class="btn1">Sign Up</a>
        {% endif %}
      </nav>
    </header>

{% block content %}
    <section class="hero">
      <button class="shadow__btn">
        Welcome TO
        <br />
        Kantipur Engineering College <br />
        Dhapakhel, Lalitpur
      </button>
    </section>
    <div>
      <marquee class="blink"
        >** You can check your Reults** Here, you will find all the latest
        updates and information about our organization. **
      </marquee>
    </div>
    

    <!-- <div class="modal hidden">
      <div class="hero1">
        <div class="form-box">
          <button class="close-modal">&times;</button>
          <div class="button-box">
            <div id="btn"></div>
            <button type="button" class="toggle-btn" onclick="login()">
              Login
            </button>
            <button type="button" class="toggle-btn" onclick="register()">
              Register
            </button>
          </div>
          <form id="login" class="input-group">
            <input
              type="text"
              class="input-field"
              placeholder="Email"
              required
            />
            <input
              type="password"
              class="input-field"
              placeholder="Enter Password"
              required
            />
            <input type="checkbox" class="check-box" /><span
              >Remember Password</span
            >
            <button type="submit" class="submit-btn">Login</button>
          </form>

          <form id="register" class="input-group">
            <input
              type="text"
              class="input-field"
              placeholder="Enter Your Name"
              required
            />
            <input
              type="email"
              class="input-field"
              placeholder="Email"
              required
            />
            <input
              type="number"
              class="input-field"
              placeholder="Symbol No"
              required
            />
            <input
              type="password"
              class="input-field"
              placeholder="Enter Password"
              required
            />
            <input type="checkbox" class="check-box" /><span
              >I agree to the terms & conditions</span
            >
            <button type="submit" class="submit-btn">Register</button>
          </form>
        </div>
      </div>
    </div>
    <div class="overlay hidden"></div> -->
    <script src="{% static 'js/script.js' %}"></script>
  {% endblock %}
  </body>

</html>
