<!DOCTYPE html>
<html>
<head>
	<title>KEC WEBSITE</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-4pfvdmKxpwu8q3Jbi9iYh2vvoQW/NK8yoJwHhGkR+xvyrAlWxM8/44IYKl6RChpg6Vy1U6i1kl6wN3OyOvNk+w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>


<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="#">KEC Website</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="{% url 'home' %}">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'notices' %}">Notices & Results</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'subscribe' %}">Subscribe</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'about' %}">About Us</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
			</li>
		</ul>
	</div>
</nav>


{% block content %}
<!-- Form -->
  <div class="container mt-5">
    <h1>Welcome to KEC Website</h1>
    
    <div class="container">
      {% if messages and page == "index" %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
      {% endif %}
    



    <form method="POST" action="{% url 'checkSymbol' %}">
      {% csrf_token %}

      <div class="form-group">
        <label for="bs_year">BS Year:</label>
        <input type="number" class="form-control" id="bs_year" name="bs_year" placeholder="2079" required>
      </div>
      <div class="form-group">
        <label for="symbol_no">Symbol No:</label>
        <input type="number" class="form-control" id="symbol_no" name="symbol_no" required>
      </div>

      <div class="form-group">
        <label for="faculty">Faculty:</label>
        <select class="form-control" id="faculty" name="faculty">
          <option value="BCT">BCT</option>
          <option value="BEX">BEX</option>
          <option value="BCE">BCE</option>
        </select>
      </div>

      <div class="form-group">
        <label for="faculty_year">Faculty Year:</label>
        <select class="form-control" id="faculty_year" name="faculty_year" required>
          <option value="" disabled selected>Select Faculty Year</option>
          <option value="I">I</option>
          <option value="II">II</option>
          <option value="III">III</option>
          <option value="IV">IV</option>
        </select>
      </div>
      <div class="form-group">
        <label for="faculty_part">Faculty Part:</label>
        <select class="form-control" id="faculty_part" name="faculty_part" required>
          <option value="" disabled selected>Select Faculty Part</option>
          <option value="I">I</option>
          <option value="II">II</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
{% endblock %}

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
          integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
          integrity="sha384-mK+z0efZhkpY1FQb8eSwjAs9nDxDgjK6JfW8E39oVxRG5n5JViMj+u8yv5X/+FhR"
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
          integrity="sha384-EADNql+Z7x75NDRgbqCl4VH4GfwUOhtXuJ76GKj7VWQ+8Zf0VhYlgsGNceBmWm5L"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" integrity="sha512-EzogIaMv4fOb0i/1WsBLcZ78OwPYkj3uGmB8PzIMcV0zy51E0Q2V7o8nkfOuV7wYvGkwqMx8d9+ucysIzhFYKA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>      
</body>
</html>
