{% extends 'home/index.html' %}


{% block content %}


<div class="container">
    {% if messages and page == "notices" %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
    {% endif %}
</div>



<!-- Table -->

<div class="container mt-5">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            {% for item in fetched_data %}
            <tr>
                <td><a href="{{ item.file_path.url }}" target="_blank">{{ item.title }}</a></td>
                <td>{{ item.date }}</td>
                <td>{{ item.category }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <ul class="pagination justify-content-center">
            {% if fetched_data.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="First">
                    <span aria-hidden="true">&laquo; First</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ fetched_data.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo; Previous</span>
                </a>
            </li>
            {% endif %}

            <li class="page-item active">
                <span class="page-link">{{ fetched_data.number }}</span>
            </li>

            {% if fetched_data.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ fetched_data.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">Next &raquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ fetched_data.paginator.num_pages }}" aria-label="Last">
                    <span aria-hidden="true">Last &raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>

</div>
{% endblock %}